{% extends "AppBundle:Haunted/Comic:comics_layout.html.twig" %}
{% block title %}사립 다이스스쿨 7교시!{% endblock %}
{% block comicContents %}
    <span class="bold size24">사립 다이스스쿨 제 7교시</span>    
    <div><img id="comics" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_007.jpg")}}"></div>
    <div id="comment">
        <span class="bold">무수한 어둠의 채미리 :</span>
        <span>혼돈, 파괴, 망가아아으으악!! 이게 뭐야악! 이야기만 짜면 된다며?!</span><br>
        <span class="bold">진행 나유리 :</span>
        <span>그런건 우리에게 있을 수 없어</span><br>
    </div>
    <div id="character">
        <span class="bold size18 ">제 7교시 등장인물</span><br><br>
        <table>
            <tr>
                <td class="characterBox">
                    <img class="characterImg" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_006_character1.jpg")}}"><div class="characterText">
                        <span class="bold size18">무수한 어둠</span><br>
                        <span>광역 즉사기는 못쓰는 채미리. 의외로 온알못</span>
                    </div>
                </td>
                <td class="characterBox">
                    <img class="characterImg" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_004_character3.jpg")}}">
                    <div class="characterText">
                        <span class="bold size18">진행</span><br>
                        <span>이번 만화에서는 설명역을 자처하고 있는 나유리. 사실 유소연을 보고서 히죽거리고 있을지도.</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}