
{% block footer %}
    <div id="footer_bar">
{#        <div id="sns">#}
        <div id="sns_twitter" class="sns"><a href="https://twitter.com/share"  class="twitter-share-button" data-via="JokerForge" data-count="none">Tweet</a></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div id="sns_facebook" class="fb-share-button" data-href="http://54.178.133.158/website/web/app_dev.php/sgk/index" data-layout="button"></div>
{#        </div>  #}      
        <span id="copy"> Copyright ⓒ 2015 JokerForge All Rights Reserved.</span>
        <div id="top_button"></div>
    </div>
{% endblock %}

