{% extends "AppBundle:Haunted/Comic:comics_layout.html.twig" %}
{% block title %}사립 다이스스쿨 21교시!{% endblock %}
{% block comicContents %}
    <span class="bold size24">사립 다이스스쿨 제 21교시</span>    
    <div><img id="comics" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_021.jpg")}}"></div>
    <div id="comment">
        <span class="bold">피해자 이윤주 :</span>
        <span>ㅂㄷㅂㄷㅂㄷㅂㄷㅂㄷㅂㄷ</span><br>
        <span class="bold">적반 나유리 :</span>
        <span>아? 그래서 뭐요. 어? 더운데 왜 살인이 일어나는지 함 해 볼까?</span><br>
        <span class="bold">하장 유소연 :</span>
        <span>......(고고고곡고고)</span><br>
    
    </div>
    <div id="character">
        <span class="bold size18 ">제 21교시 등장인물</span><br><br>
        <table>
            <tr>
                <td class="characterBox">
                    <img class="characterImg" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_021_character1.jpg")}}">
                    <div class="characterText">
                        <span class="bold size18">이윤주</span><br>
                        <span>불쌍한 피해자. 작가가 더위에 미쳐가고 있다는 예를 단적으로 보여주고 있습니다.</span>
                    </div>
                </td>
                <td class="characterBox">
                    <img class="characterImg" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_021_character2.jpg")}}">
                    <div class="characterText">
                        <span class="bold size18">나유리</span><br>
                        <span>오래간만에 등장했는데 머리가 없다. 내가 대머리라니 이게 무슨소리요. <del>플레이 시작하려고 했더니 윤주의 비명이 3컷을 차지해서 좀 불쾌한거같다.</del></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="characterBox">
                    <img class="characterImg" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_021_character3.jpg")}}">
                    <div class="characterText">
                        <span class="bold size18">유소연</span><br>
                        <span>여전히 포스의 길에 충실한거같다. - 제다이는 남의 삥이나 뜯는 존재가 아닙니다. by. 제다이교 전도사</span>
                    </div>
                </td>
                <td class="characterBox">
                    
                </td>
            </tr>      
               
        </table>
    </div>
{% endblock %}