{% extends "AppBundle:Haunted/Comic:comics_layout.html.twig" %}
{% block title %}사립 다이스스쿨 제 19교시!{% endblock %}
{% block comicContents %}
    <span class="bold size24">사립 다이스스쿨 제 19교시</span>
    <div><img id="comics" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_0191.jpg")}}"></div>
    <div><img id="comics" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_0192.jpg")}}"></div>    
    <div id="comment">
    </div>
    <div id="character">
{#        <table>
            <tr>
                <td class="characterBox">
                </td>
                <td class="characterBox">
                </td>
            </tr>            
        </table>#}
    </div>
{% endblock %}