{% extends "AppBundle:Haunted/Comic:comics_layout.html.twig" %}
{% block title %}사립 다이스스쿨 22교시!{% endblock %}
{% block comicContents %}
    <span class="bold size24">사립 다이스스쿨 제 22교시</span>
    <div>
    <img id="comics" style="margin-bottom: -4px" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_0221.jpg")}}">
    <img id="comics" style="margin-top: 0px" src="{{asset("bundles/app/image/haunted/diceschool/diceschool_0222.jpg")}}">
    </div>
    <div id="comment">
    </div>
    <div id="character">
    </div>
{% endblock %}