/* 
    Created on : 2015/03/17, 23:45:06
    Author     : krsanika
*/

.wallpapers{
    width : 300px;
    float: left;
    border : 1px #4661b0 solid;
    margin : 5px;  
    padding : 5px;
    box-sizing: content-box;
}

.wpimg{
    width : 300px;
    height : 197px;    
}

.persnacons{
    float: left;
    border : 1px #AA3333 solid;
    width : 200px;
    height : 200px;
    margin : 5px;  
    padding : 5px;
    box-sizing: content-box;
}

.psimg{
    width : 200px;
    height : 200px;
}

