/* 
    Created on : 2015/03/20, 21:23:35
    Author     : krsanika
*/

.staffBox{
    margin : 10px;
    padding : 5px;
}

.staffImg{
    width : 150px;
    height : 150px;
    background : red;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    float : left;
    position: relative;
}
.staffImg img{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg); 
  margin-top: -2.5em;
  margin-left: -2.5em;    
}

.staffImg.odd{
    left : 0px;
}

.staffImg.even{
    left : 100px;
}


.staffText{
    height : 130px;    
    padding : 5px;
    border : #800 3px double;
    background : rgba(255, 255, 255, 0.4);
}

.staffText.odd{
    margin-left : 225px;
}

.staffText.even{
    margin-left : 300px;
}

#pageTitle{
    margin-bottom : 34px;
}