<div id="content4" class="contentBox">
    <div id="profile" class="box" style="background-image:url({{asset('bundles/app/image/jokerforge/4p_profile/profile_profile.png')}})">
{#        <span class="red size28">Profile</span>
        <div class="line"></div>#}
        <table id="profile_table"><tr>
            <td class="bold" width=150>            
                회사명<br><br>
                설립<br><br>
                사업내용<br><br><br><br>
                소재지<br><br>
                대표자
            </td>
            <td>
                조커 포지 (Joker Forge)<br><br>
                2015년 1월 16일<br><br>
                출판업<br>
                소프트웨어 개발<br>
                출판물 전자상거래<br><br>
                서울시 동대문구 용두동 천호대로 23 베르빌 303호<br><br>
                조준형
            </td>        
        </tr></table>
    </div>
    <div id="teamPhoto" class="photos box" style="background-image:url({{asset('bundles/app/image/jokerforge/4p_profile/team.jpg')}})"></div>
    <div id="access" class="box">
        <div id="accessMap" style="background-image:url({{asset('bundles/app/image/jokerforge/4p_profile/profile_access-map.png')}})"></div>
     
{#        <span class="red size28">Access Map</span><br>
        <div class="line"></div>#}
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3162.1774486684626!2d127.0263768!3d37.574439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca34cfc2fe6b5%3A0xf38595866b2a935e!2z64-Z64yA66y467Kg66W067mM!5e0!3m2!1sen!2skr!4v1424083637294" width="600" height="400" frameborder="0" style="border:0"></iframe>
    </div>
</div>