<div id="content1" class="contentBox">    
    <div id="main_bg" class="jBackgroud cover" style="background-image:url({{asset('bundles/app/image/jokerforge/1p_main/main_bg.png')}})"></div>
    <div id="whatsthis" class="box cover" style="background-image:url({{asset('bundles/app/image/jokerforge/1p_main/main_01_what_is_this.png')}})">
     {#   <span class="titletext">What<br>Is<br>This?</span><br>
        <div class="line"></div>
        <span class="red bold"><span class="size28 georgia bold">Joker Forge</span>는<br> 아날로그, 디지털의 벽을 넘나들며<br> 출판 및 각종 게임 컨텐츠를 제작하는 IT기업입니다.</span><br>
    #}</div>
    <div id="joker" class="box cover" style="background-image:url({{asset('bundles/app/image/jokerforge/1p_main/main_05_poster.png')}})">
    </div>
    <div id="updateInfo" class="box cover" style="background-image:url({{asset('bundles/app/image/jokerforge/1p_main/main_02_where_is_new.png')}})">
{#        <span class="titletext">Where<br>Is<br>New?</span><br>
        <div class="line"></div>      #}  
        <div id="infoTextBox">
            2015. 03. 12. <span class="bold">오픈했습니다!</span> <br>
        </div>
    </div>
    <div id="sidebar" class="box cover">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/JokerForge" data-widget-id="569426946249879552">@JokerForge 님의 트윗</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>    
<div id="fb-root" class="box"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="facebook" class="fb-like-box" data-href="https://www.facebook.com/jokerforge" data-width="280" data-height="250" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
    
</div>
