{% extends "AppBundle::joker_layout.html.twig" %}
{%block contents %}
    <a href="{{url("joker_index")}}"><img alt="joker_logo" src="{{asset('bundles/app/image/jokerforge_logo_02.png')}}"></a>    
    <a href="{{url("sgk_index")}}"><img alt="setugetuka_logo" src="{{asset('bundles/app/image/sgk_logo_02.png')}}"></a>
    {% endblock %}