
<div id="content5" class="contentBox">
    <div id="partnership">
        <table>
            <tr>
                <td><img src="{{asset('bundles/app/image/jokerforge/tp_partnership/logo_trcl.png')}}"></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="{{asset('bundles/app/image/jokerforge/tp_partnership/logo_story.jpg')}}"></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="{{asset('bundles/app/image/jokerforge/menu_bar/menu_bar_01_logo.png')}}"></td>
                <td></td>
            </tr>
    </div>
</div>
